.btn-sub {
    text-align: center;
    white-space: nowrap;
	padding: 6px 16px;
    align-self: center;
    background-color: #000;
    -webkit-transition: box-shadow .2s ease,border .2s ease,background-color .2s ease,color .2s ease;
    transition: box-shadow .2s ease,border .2s ease,background-color .2s ease,color .2s ease;
    color: #fff;
    font-weight: 500;
    border-radius: 6px;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    display:inline-block;
    font-size: 16px;
    margin-left: 1em;
}

.btn-sub:hover {
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
}

.email {
	background-color: #fafafa;
    border-radius: 6px;
    border: 0;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 16px;
    -webkit-transition: background-color .2s,-webkit-box-shadow .2s;
    transition: background-color .2s,box-shadow .2s;
    outline:none;
}

.email:focus {
	box-shadow: inset 0 0 0 2px #9CA9B3;
}